* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}



.contact-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1000px;
  margin: auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  position: relative;
  z-index: 10;
}

/* FORM */
.contact-form {
  padding: 30px;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.contact-form textarea {
    min-height: 120px;
    resize: vertical; /* down only */
}

.contact-form .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.contact-form button {
  background: #1e88ff;
  color: white;
  border: none;
  padding: 14px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #156fd1;
}

#mapsbtn {
  background: white;
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  padding: 14px 20px;
}

#mapsbtn:hover {
  background: #e3e3e3;
}

.maps {
  background-color: #f1f1f1;
  position: relative;
  width: 800px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  max-height: 0;
  height: 400px;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  z-index: 1;
}

.maps.active {
  max-height: 500px;
  opacity: 1;
}

.blaa {
  text-align: center;
}








#maps-wrapper {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;   
  max-width: 100%;   
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(-100%);
  opacity: 0;
}

#maps-wrapper.active {
  transform: translateY(0); 
  opacity: 1;
}

#maps-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
}















.contact-info {
  background: #1e88ff;
  color: white;
  padding: 30px;
}

.contact-info h2 {
  margin-bottom: 25px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
  font-size: 16px;
}

textarea {
  position: static;    
  display: block;
  margin-bottom: 15px;
}
